.border{ /*For the main body of the glossary*/
    border:5px solid grey;
    height:100vh;
    width:95vw;
    padding:8px;
    display: flex;
    flex-direction: row;

}

.info{ /*section containing info*/
    /* background-color: aqua; */
    height: 95vh;
    width:60vw;
}

.info-container{ /*padded section*/
    /* border:8px solid white;
    background-color: white; */
    margin:8px;
    height:95%;
    width:93%;
    border-radius: 15%;
    
}

.paragraph{ /*contains paragraph*/
    /* border:5px solid pink;
    background-color: pink; */
    border-radius: 20%;
    height:40%;
    width:95%;
    margin-top:24px;
    margin-left: 8px;
    color:black;
    font-size: 12.5px;
    align-items: center;
    
}



.pic{ /*contains screenshot example*/
    /* border:5px solid pink;
    background-color: pink; */
    border-radius: 20%;
    height:40%;
    width:95%;
    margin:8px;
}

/* .line{
    display:flex;
    flex-direction: row;
} */
.btn-menu{ /*for button layout*/
    height:95vh;
    width:37vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    flex-flow: column;
    overflow-y: scroll;
    margin-left: 16px;
}
.title{ /*for the heading*/
     margin-top: 16px;
}

.describe{ /*for the description*/
    margin-top:16px;
}

.barrier{ /*for the barrier separating the info container and the button menu*/
    border:8px solid grey;
    margin-left:16px;
    margin-top: -16px;
    height: 102vh;

}

.btn{ /*button design*/
    height:50%;
    width:89%;
    margin:16px;
    border-radius: 10%;
    background-color: beige;
    border:none;
    transition: 0.5s;
    
}

.btn:hover{ /*hover effect for button*/
    box-shadow: inset 8px 8px 50px 50px black;
    scale:110%;
    transition:0.5s;
    cursor:pointer;

}