.counter{ /*for the counter in the top-right corner*/
    border-bottom:5px solid grey;
}

.btn-menu{ /*for button layout*/
    height:100%;
    
    /* background-color: blue; */
    display: flex;
    flex:0.25;
    flex-direction: column;
    flex-flow: column;
    overflow-y: scroll;
    margin-left: 16px;
}

.btn{ /*button design*/
    height:50%;
    width:89%;
    margin:16px;
    border-radius: 10%;
    background-color: beige;
    border:5px solid pink;
    transition: 0.5s;
    font-size:15px;
    
}



.btn:hover{ /*hover effect for button*/
    box-shadow: inset 8px 8px 50px 50px hotpink;
    scale:110%;
    transition:0.5s;
    cursor:pointer;
    

}

