.border{ /*For the main body of the glossary*/
    border:5px solid grey;
    height:100vh;
    width:95vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.info{ /*section containing info*/
    /* background-color: aqua; */
    display:flex;
    flex:0.75;
    height: 95vh;
   
}

.info-container{ /*padded section*/
    /* border:8px solid white;
    background-color: white; */
    margin:8px;
    height:95%;
    width:93%;
    border-radius: 15%;
    
}

.paragraph{ /*contains paragraph*/
    /* border:5px solid pink;
    background-color: pink; */
    display:flex;
    flex-direction: column;
    flex:0.5;
    border-radius: 20%;
    height:40%;
    width:95%;
    margin-top:24px;
    margin-left:24px;
    color:black;
    font-size: 12.5px;
    align-items: center;
    
}



.pic{ /*contains screenshot example*/
    /* border:5px solid pink;
    background-color: pink; */
    display:flex;
    flex:0.5;
    border-radius: 20%;
    height:40%;
    width:95%;
    margin:24px;
    align-items: center;
}

.img{
    border: 10px solid grey; 
}

.padding{
    padding:16px;
}

.title{ /*for the heading*/
     margin-top: 16px;
}

.describe{ /*for the description*/
    margin-top:16px;
}

.barrier{ /*for the barrier separating the info container and the button menu*/
    border:8px solid grey;
    margin-left:16px;
    margin-top: -18px;
    height: 98vh;

}

.space{
    margin:10px;
}
/* 
.border{
  align-items: center;
} */

.add-btn{ /*button for the option of user input*/
    height:12%;
    width:12%;
    margin: 16px;
    border-radius: 100%;
    background-color: pink;
    border:5px solid none;
    transition: 0.5s;
    font-size:25px;
}

.add-btn:hover{
    box-shadow: inset 8px 8px 50px 50px hotpink;
    scale:110%;
    transition:0.5s;
    cursor:pointer;
}

.prof-layout{
    display:flex;
    flex:0.5;
    margin:10px;
    text-align: center;
    align-items: center;
    
}
.prof-btn{
    margin-left:75px;
    background-color: turquoise;
    color:white;
    font-size:100%;
    border:none;
    transition: 1s;
}
.prof-btn:hover{
    
    cursor:pointer;
    box-shadow: inset 2px 2px 8px 8px blue;
    scale:110%;
    transition: 1s;

}



/*
    All for the submission button on the add new page.
*/
.new-pic{ /*contains screenshot example*/
    /* border:5px solid pink;
    background-color: pink; */
    display:flex;
    flex:0.5;
    border-radius: 20%;
    height:40%;
    width:95%;
    margin:24px;
    justify-content: center;
    align-items: center;
}

.new-layout{ 
    display:flex;
    flex:0.5;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.new-btn{
    
    background-color: turquoise;
    color:white;
    font-size:100%;
    border:none;
    transition: 1s;
}

.new-btn:hover{
    
    cursor:pointer;
    box-shadow: inset 2px 2px 8px 8px blue;
    scale:110%;
    transition: 1s;

}